.App {
  width: 100vw;
  height: 100vh;
}
body {
  background-color: azure;
}
h1 {
  color: #173a5e;
  text-align: center;
}
h2 {
  color: #00a3a0;
  text-align: center;
}
h3 {
  color: #173a5e;
  text-align: center;
  font-size: larger;
  word-spacing: 50px;
}
.TempC,
.TempF {
  background-color: #f8d49b;
  width: 150px;
  height: 30px;
  border: 5px solid #00a3a0;
  padding: 25px;
}
.TempK {
  background-color: #f8d49b;
  width: 160px;
  height: 30px;
  border: 5px solid #00a3a0;
  padding: 25px;
}
.Humidity,
.Moisture {
  background-color: #f8d49b;
  width: 150px;
  height: 100px;
  border: 5px solid #00a3a0;
  padding: 25px;
  justify-content: center;
}
.Sensorwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Lighton,
.Lightoff,
.Wateron,
.Wateroff,
.Fanon,
.Fanoff,
.Lidopen,
.Lidclose {
  color: azure;
  margin-left: 95px;
}
.Buttonwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Menu {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Charts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
